$nul
  list-style-type: none;
  margin: 0;
  padding: 0;

$vac
  &:after
    content ''
    vertical-align middle
    display inline-block
    height 100%
    width 0

$vac-box
  box-sizing border-box
  display inline-block
  vertical-align: middle;
  width 99.9%

$noOutline
  &:focus
    outline 0
